h1{
    color: #000000;
    text-align: center;
}
h2{text-align: center;
   color: red;
}
h3{text-align: center;}
h4{ font-weight:unset;width:300px;text-align: center;
}

p1{text-align: center;
}  h5{font-weight:unset;width:300px;}
h6{font-style:italic; font-size: 16px;}
p{text-align: center;width:300px;}

h8{text-align: right;}
