h1{
    color: #ff0000;
}
p{
    color: #008000;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400 ; /* đậm nhạt */
    line-height: 1.5; /* chiều cao của mỗi dòng chữ */
    text-decoration: none;/* underline line-through overline*/
    text-align: left;/* left right center justify căn lề*/
    text-transform: none;/* uppercase lowercase capitalize in hoa in thường*/
    font-style: italic; /* in nghiêng */
    background-color: bisque; /* nền */
    width: 500px;
}