@import url(https://fonts.google.com/specimenTab?standard-styles);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.35;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section .new_list .new_items{
    width: 30%;
    float: left;
    border:1px solid #ccc;
    margin-right: 30px;
    height:290px ;
    padding: 3px;
}
.container{
    width: 1200px;
    text-align: right;
    margin: 10px auto;
}
h1{color: red;}
}
.content{
    line-height: 1.;
    font-size: small;
}
#fix{
    width:14%;
    height: 290%px
}
#fix4{
    width:100%
    height: 10%;
}
