.forgotsigin{
    text-align: center;
}
.exam{
    text-align: left;
}
.table.td{
    text-align: center;
}

.container{
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
.baoquat{
    background-color: forestgreen;
}
button {
    background-color: forestgreen;
    border-color: white;
}