input{
    background-color: #dddddd;
}
input[type=]{
    background-color: #dddddd;
}
input[type=]{
    background-color: #dddddd;
}
input[type=][name=]{
    background-color: #dddddd;
}
.one-col .content{
    width: 100%;
}
p .under{
    padding-right: 110px;
    color: #5f6368;
}
.contact{
    background-color: green ;
    color: #dddddd;
}
*{
    padding-bottom: 10px;
}


