input{
    background-color: #dddddd;
}
input[type=]{
    background-color: #dddddd;
}
input[type=]{
    background-color: #dddddd;
}
input[type=][name=]{
    background-color: #dddddd;
}
.one-col .content{
    width: 100%;
}
under{

}

